*, *:before, *:after{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--primary: #7ABA78;
	--secondary:  #0A6847;
	--teritiary:  #F8CE52;
	--black:  #000;
	--white: #EAEAEA;
	--belge: #F6E9B2;
	--grey:  #9db6c3;
	--darkgreen: #114232;
	--containerXPadding:  1.5rem;
	--unit: 16px;
}

body{
	font-size: var(--unit);
	line-height: 1.3;
	font-family: 'Oswald', sans-serif;
}

img{
	display: block;
	max-width: 100%;
	height:  auto;	
}

a{
	text-decoration: none;
	color: var(--secondary);
}

a:hover{
	text-decoration: none;
}

.huge-font{
	font-family: 'Audiowide', cursive;
}

.upper-text{
	text-transform: uppercase;
	letter-spacing: 0.1rem;
}

.container{
	padding-left:var(--containerXPadding);
	padding-right:var(--containerXPadding) 
}

.fullscreen{
	min-height: 100vh;
	width: 100%;
	display: flex;
}

header{
	position: fixed;
	z-index: 50;
	width: 100%;
	top: 0;
	padding-top: 1.5rem;
	display: flex;
	flex-direction: row ;
	align-items:center;
	justify-content: space-between; 
}

.logo{
	width: 4rem;
}

.toggle{
	width: 2rem;
	height: 1.5rem;
	cursor: pointer;
	position: relative;
}

.toggle span{
	width: 100%;
	display: block;
	border-bottom: 2px solid var(--white);
	position: absolute;
    z-index: 51;
	transition: top 0.3s ease, transform 0.3s ease;
}

.toggle span:first-child{
	top:  0.4rem;
}

.toggle span:last-child{
	top:  0.9rem;
}

.toggle.active span{
	top:  0.75rem;
}

.toggle.active span:first-child{
	transform:  rotate(45deg);
}

.toggle.active span:last-child{
	transform:  rotate(-45deg);
}

.menu{
	position: fixed;
	top:  5rem;
	right: -15rem;
	width: 15rem;
    height: 15rem;
    font-size:1.4rem;
	background: var(--darkgreen);
	opacity: 0;
	padding: 1rem;
	transition: right 0.3s ease, opacity 0.3s ease;
}

.menu ul{
	list-style: none;
}

.menu ul li{
	text-transform: uppercase;
	font-weight: 300; 
}

.menu ul li a{
	color:  var(--white);
	display: block;
	padding:  0.5rem;
	letter-spacing: 0.1rem;
	transition: color 0.3s ease;
}

.menu ul li a:hover{
	color:  var(--belge);
}

.menu ul li + li{
	border-top:  1px solid var(--grey);
}

.menu ul li a.active{
	color:  var(--teritiary);
	pointer-events: none;
}

.menu.active {
	right: var(--containerXPadding);
	opacity: 1;
}

.social{
	position: fixed;
	bottom: 0;
	right:  var(--containerXPadding);
	bottom: 1.5rem;
	display: flex;
	gap: 1rem;
	font-size: 2rem;
    z-index: 3
}

.social a{
	color:  var(--white);
	display: block;
	transition:  color 0.3s ease;
}

.social a:hover{
	color:  var(--teritiary);
}

.bg{
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('img/unit2-m.jpg');
	background-size: contain;
	background-position: right bottom;
	background-repeat: no-repeat;
	background-color: var(--primary);
	background-blend-mode: multiply;
	z-index: -1;
	transform: translateX(100%)
}

.heading-block{
	transform: translateY(-100vh);
	opacity: 0;
    transition: transform .5s ease-in-out, opacity .5s ease-in-out
}

.hero{
	position: relative;
	overflow: hidden;
}

.hero::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: var(--primary); 
}

.block{
	color: var(--white);
	font-weight: 400;
	display: flex;
    margin: auto 0;
	flex-direction: column;
	width: 100%
}

.block h2{
	font-size: 3rem;
}

.block h1{
	font-size: 4rem
}

.block h1:before{
	content: '';
	width: 1.5rem;
	height: 3rem;
	background: var(--teritiary);
	margin-right: 0.5rem;
	display: inline-block;
}

.block p{
    font-size:1.1rem;
	font-weight: 300;
	margin-bottom: 2rem;
    color: var(--black);
	opacity: 0;
	transform: translateY(50vh);
    transition: transform .5s ease-in-out, opacity .5s ease-in-out
}

.btn{
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0.05rem;
	padding: 0.6rem 2rem;
	font-family: 'Oswald', sans-serif;
	overflow: hidden;
	min-width: 10rem;
	align-items: center;
	justify-content: center;
	border: none;
	line-height: 1.5;
	border-bottom-right-radius: 1rem;
	display: inline-flex;
	flex-direction: row;
	width: fit-content;
	cursor: pointer;
	border: 1px solid transparent;
	color: var(--white);
	position: relative;
	transition: color .5s ease;
	z-index: 1;
}

.btn:before{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0;
	z-index: -1;
	transition: width .5s ease;
	background: var(--belge);
}

.btn:hover:before{
	width: 100%;
}

.btn.primary{
	background: var(--black);
	border-color: var(--black);
}

.btn.primary:hover{
	color: var(--black);
}

.btn.border{
	color: var(--black);
	background-color: transparent;
	border-color: var(--black);
}

.button-group{
	display: flex;
	gap: 1rem;
	flex-direction: column;
	opacity: 0; 
    transition: transform .5s ease-in-out, opacity .5s ease-in-out
}


.strip{
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	bottom: 0;
	background-color: var(--secondary);
	transform: translateX(-100vw);
    transition: transform .4s ease-in-out, width .4s ease-in-out;
}

.skills-container
{
}
.heading-text
{
}
.frontend
{
}
.backend
{
}
.other
{
}
@media (min-width: 768px){
	:root{
		--containerXPadding: 2rem;
	}
	.bg{
		background-image: url('img/unit2-t.jpg')
	}
	.button-group{
		width: fit-content;
		flex-direction: row;
	}
	.button-group .btn{
		flex: auto;
	}
}

@media (min-width: 1260px){
	:root{
		--containerXPadding: 3rem;
	}

	.bg{
		background-image: url('img/unit2.jpg')
	}

	.logo{
		width: 6rem;
	}
	.toggle{
		display: none;
	}
	.menu{
		background: transparent;
		position: static;
		top:  auto;
		right:  auto;
		opacity: 1;
		width: auto;
		padding: 0;
	}
	.menu ul{
		display: flex;
		gap:  3rem;
	}
	.menu ul li a{
		color:  var(--white);
		padding: 0;
        font-size: 1.5rem;
	}
	.menu ul li + li{
		border-top: none;
	}
	.social{
		bottom:  2rem;
		gap: 1.25rem;
	}

	.block{
		z-index: 1;
	}
	.block h2{
		font-size: 2.5rem;
	}
	.block h1{
		font-size: 6rem;
	}
	.block h1:before{
		width: 2rem;
		height: 4.5rem;
	}
	.block p{
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}
	
}
