*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--first: #00B295;
	--second: #FB3640;
	--third: #302c2d;
	--black: #191516;
	--white: #F8FFE5;
	--containerXPadding: 1.5rem;
	--unit: 16px;
}

@font-face {
	font-family: bookmanBold;
	src: url('./fonts/BOOKmanOpti-Bold.otf');
}

@font-face {
	font-family: bookmanLight;
	src: url('./fonts/BOOKmanOpti-Light.otf');
}

body {
	font-size: var(--unit);
	line-height: 1.3;
	font-family: 'bookmanLight';
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: var(--white);
}

a:hover {
	text-decoration: none;
}

.huge-font {
	font-family: 'bookmanBold';
}

.upper-text {
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.container {
	padding-left: var(--containerXPadding);
	padding-right: var(--containerXPadding);
	opacity: 1;
	transition: opacity .2s ease-in-out;
}

.fullscreen {
	min-height: 100vh;
	width: 100%;
	display: flex;
}

header {
	position: fixed;
	z-index: 50;
	width: 100%;
	top: 0;
	padding-top: 1.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 4rem;
}

.toggle {
	width: 2rem;
	height: 1.5rem;
	cursor: pointer;
	position: relative;
}

.toggle span {
	width: 100%;
	display: block;
	border-bottom: 2px solid var(--white);
	position: absolute;
	z-index: 51;
	transition: top 0.3s ease, transform 0.3s ease;
}

.toggle span:first-child {
	top: 0.4rem;
}

.toggle span:last-child {
	top: 0.9rem;
}

.toggle.active span {
	top: 0.75rem;
}

.toggle.active span:first-child {
	transform: rotate(45deg);
}

.toggle.active span:last-child {
	transform: rotate(-45deg);
}

.menu {
	position: fixed;
	top: 5rem;
	right: -15rem;
	width: 15rem;
	height: 15rem;
	font-size: 1rem;
	background: var(--third);
	opacity: 0;
	padding: 1rem;
	border-radius: 10px;
	transition: right 0.3s ease, opacity 0.3s ease;
}

.menu ul {
	list-style: none;
}

.menu ul li {
	text-transform: uppercase;
	font-weight: 300;
}

.menu ul li a {
	color: var(--white);
	display: block;
	padding: 0.5rem;
	letter-spacing: 0.1rem;
	transition: color 0.3s ease;
}

.menu ul li a:hover {
	color: var(--second);
}

.menu ul li+li {
	border-top: 1px solid var(--first);
}

.menu ul li a.active {
	color: var(--second);
	pointer-events: none;
}

.menu.active {
	right: var(--containerXPadding);
	opacity: 1;
}

.social {
	position: fixed;
	bottom: 0;
	right: var(--containerXPadding);
	bottom: 1.5rem;
	display: flex;
	font-size: 2rem;
	z-index: 3
}

.social a {
	color: var(--white);
	display: block;
	transition: color 0.3s ease;
}

.social a:hover {
	color: var(--second);
}

.social a i.bi.bi-github {
	margin-right: 1rem;
}

.heading-block {
	transform: translateY(-100vh);
	opacity: 0;
	transition: transform .5s ease-in-out, opacity .5s ease-in-out
}

.hero {
	position: relative;
	overflow: hidden;
}

.hero::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	background-color: var(--black);
}

.block {
	color: var(--white);
	font-weight: 400;
	display: flex;
	margin: auto 0;
	flex-direction: column;
	width: 100%
}

.block h2 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.block h1 {
	/* font-size: 5.5rem; */
	font-size: 3rem;
	margin-bottom: 2rem;
	letter-spacing: 4px;
}

.block h1:before {
	content: '';
	/* width: 1.5rem; */
	/* height: 3.6rem; */
	width: .8rem;
	height: 2.5rem;
	background: var(--first);
	margin-right: 0.5rem;
	display: inline-block;
}

.block p {
	font-size: .8rem;
	font-weight: 300;
	margin-bottom: 2rem;
	color: var(--white);
	opacity: 0;
	transform: translateY(50vh);
	transition: transform .5s ease-in-out, opacity .5s ease-in-out
}

.btn {
	font-size: .8rem;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	padding: 0.6rem 2rem;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	border: none;
	line-height: 1.5;
	border-bottom-right-radius: 1rem;
	display: inline-flex;
	flex-direction: row;
	width: fit-content;
	cursor: pointer;
	border: 1px solid transparent;
	color: var(--white);
	position: relative;
	transition: color .5s ease;
	z-index: 1;
}

.btn:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0;
	z-index: -1;
	transition: width .5s ease;
	background: var(--first);
}

.btn:hover:before {
	width: 100%;
}

.btn.primary {
	background: var(--white);
	border-color: var(--black);
	color: var(--black);
}


.btn.border {
	color: var(--white);
	background-color: transparent;
	border-color: var(--white);
}

.button-group {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	opacity: 0;
	transition: transform .5s ease-in-out, opacity .5s ease-in-out
}


.strip_intro {
	position: absolute;
	top: 0;
	right: 0;
	width: 25%;
	bottom: 0;
	background-color: var(--first);
	transform: translateX(-100vw);
	transition: transform .4s ease-in-out, width .4s ease-in-out;
}

.skills-section {
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.strip_skills {
	display: flex;
	margin-top: 4rem;
	width: 100vw;
	flex-direction: column;
	padding: 2rem;
	border-radius: 12px;
	transition: visibility .5s ease;
}

.strip_skills h1 {
	font-family: 'bookmanBold';
	text-transform: uppercase;
	margin-bottom: 10px;
	font-size: 2.5rem;
}

.strip_skills span {
	margin-bottom: 10px;
	height: 2px;
	background-color: #000;
	width: 50%;
}

.strip_skills p {
	text-transform: uppercase;
	margin-top: 8px;
	font-size: 1.2rem;
	letter-spacing: 3px;
	display: flex;
	align-items: center;
}

.strip_skills p img {
	width: 28px;
	margin-right: 16px;
}

.strip_skills.left {
	background-color: var(--first);
	transform: translateX(100vw);
	opacity: 0;
	transition: transform .5s ease-in-out, opacity .4s ease-in-out;

}

.strip_skills.mid {
	background-color: var(--first);
	transform: translateX(100vw);
	opacity: 0;
	transition: transform .5s ease-in-out .5s, opacity .4s ease-in-out .5s;
}

.strip_skills.right {
	background-color: var(--first);
	margin-bottom: 4rem;
	transform: translateX(100vw);
	opacity: 0;
	transition: transform .5s ease-in-out .9s, opacity .4s ease-in-out .9s;
}

._span {
	position: absolute;
	right: 0;
	width: 0%;
	height: 100%;
	z-index: 2;
	transform: translateX(0);
	transition: width .4s ease-in-out, transform .4s ease-in-out .5s;
}

.s_span {
	background-color: var(--first);
}

.projects_section {
	margin-top: 2rem;
	display: none;
	flex-direction: column;
	padding-right: 5vw;
	padding-left: 5vw;
	padding-top: 5rem;
	padding-bottom: 35px;
	min-height: 50vh;
	transition: visibility .5s ease;
}

.project {
	position: relative;
	width: 98.34%;
    display: block;
    margin: 0;
    margin-bottom: 3rem;
}

.img_container {
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
	border-radius: 15px;
	border-style: solid;
	border-width: 3px;
	border-color: var(--first);
}

.img_container img {
	transition: transform .4s ease-in-out;
}

.img_container img:hover {
	transform: scale(1.05);
}

.title {
	display: inline;
}

.title h1 {
	color: var(--white);
	font-size: 25px;
	display: inline-grid;
	letter-spacing: 3px;
}

.body_text {
	color: var(--white);
	line-height: 1.5;
	font-size: 12px;
	margin-top: 8px;
}

.bottom_text {
	margin-top: 8px;
}

.bottom_text a {
	color: var(--first);
	transition: color .3s ease-in-out;
}

.p_span {
	background-color: var(--first);
}

#loading {
	display: block;
	margin: auto;
	width: 100%;
}

#loading figcaption {
	display: block;
	width: 100%;
	color: var(--white);
	font-size: 1.2rem;
	text-align: center;
	margin-top: 3rem;
}

/**
 * Cascade
 *
 * @author jh3y - jheytompkins.com
 *https://github.com/jh3y/whirl/blob/dist/css/cascade.css
 */
@-webkit-keyframes cascade {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-250%);
		transform: translateY(-250%);
	}

	30%,
	60% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(250%);
		transform: translateY(250%);
	}
}

@keyframes cascade {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-250%);
		transform: translateY(-250%);
	}

	30%,
	60% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	100% {
		opacity: 0;
		-webkit-transform: translateY(250%);
		transform: translateY(250%);
	}
}

.cascade {
	height: 30px;
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, 20px);
	grid-gap: 14px;
}

.cascade div {
	width: 30px;
	background: var(--first);
}

.cascade div:nth-child(1) {
	-webkit-animation: cascade 1.5s 0.15s ease infinite backwards;
	animation: cascade 1.5s 0.15s ease infinite backwards;
}

.cascade div:nth-child(2) {
	-webkit-animation: cascade 1.5s 0.3s ease infinite backwards;
	animation: cascade 1.5s 0.3s ease infinite backwards;
}

.cascade div:nth-child(3) {
	-webkit-animation: cascade 1.5s 0.45s ease infinite backwards;
	animation: cascade 1.5s 0.45s ease infinite backwards;
}

.cascade div:nth-child(4) {
	-webkit-animation: cascade 1.5s 0.6s ease infinite backwards;
	animation: cascade 1.5s 0.6s ease infinite backwards;
}

.cascade div:nth-child(5) {
	-webkit-animation: cascade 1.5s 0.75s ease infinite backwards;
	animation: cascade 1.5s 0.75s ease infinite backwards;
}

@media (min-width: 600px) {
	:root {
		--containerXPadding: 2rem;
	}

	.button-group {
		width: fit-content;
		flex-direction: row;
	}

	.button-group .btn {
		flex: auto;
	}

	.strip_skills {
		width: 65vw;
	}

}

@media (min-width: 1024px) {
	:root {
		--containerXPadding: 3rem;
	}

	.logo {
		width: 6rem;
	}

	.toggle {
		display: none;
	}

	.menu {
		background: transparent;
		position: static;
		top: auto;
		right: auto;
		opacity: 1;
		width: auto;
		padding: 0;
	}

	.menu ul {
		display: flex;
		gap: 3rem;
	}

	.menu ul li a {
		color: var(--white);
		padding: 0;
		font-size: 1.5rem;
	}

	.menu ul li+li {
		border-top: none;
	}

	.social {
		bottom: 2rem;
	}

	.block {
		z-index: 1;
	}

	.block h2 {
		font-size: 3.5rem;
		margin-bottom: 2rem;
	}

	.block h1 {
		font-size: 8rem;
		margin-bottom: 2rem;
	}

	.block h1:before {
		width: 2rem;
		height: 6rem;
	}

	.block p {
		font-size: 1.3rem;
		margin-bottom: 2rem;
	}

	.btn {
		font-size: 1rem;
	}

	.skills-section {
		overflow: hidden;
		flex-direction: row;
		align-items: baseline
	}

	.strip_skills {
		padding-bottom: 4rem;
		margin-top: 6rem;
	}

	.strip_skills h1 {
		font-size: 2rem;
	}

	.strip_skills p {
		font-size: 1.2rem;
	}

	.strip_skills p img {
		width: 30px;
	}

	.strip_skills.left {
		margin-right: 1rem;
		transform: translateX(200vw);
		opacity: 0;
		transition: transform .5s ease-in-out, opacity .4s ease-in-out;
	}

	.strip_skills.mid {
		transform: translateY(-100vh);
		opacity: 0;
		transition: transform .5s ease-in-out .9s, opacity .4s ease-in-out .9s;
	}

	.strip_skills.right {
		margin-left: 1rem;
		transform: translateX(100vw);
		opacity: 0;
		transition: transform .5s ease-in-out .5s, opacity .4s ease-in-out .4s;
	}

	.bottom_text {
		font-size: 21px;
	}

	.bottom_text a {
		color: var(--white);
	}

	.bottom_text a:hover {
		color: var(--second);
	}

	.body_text {
		font-size: 21px
	}

	.title h1 {
		font-size: 28px;
	}

	.project {
		margin-right: 8.34%;
		position: relative;
		width: 83.34%;
		margin-bottom: 15vmin;
		margin-left: 8.34%;
	}

	.header_opacity {
		opacity: 0;
	}
}
