
.projects_section {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	padding-right: 5vw;
	padding-left: 5vw;
	padding-top: 5rem;
	padding-bottom: 35px;
	min-height: 50vh;
}
.project {
	margin-right: 2.34%;
	position: relative;
	width: 98.34%;
	margin-bottom: 15vmin;
	margin-left: 2.34%;
}
.img_container {
	width: 100%;
	overflow: hidden;
	margin-bottom: 15px;
	border-radius: 15px;
	border-style: solid;
	border-width: 3px;
	border-color: var(--first);
}
.img_container img {
	transition: transform .4s ease-in-out;
}
.img_container img:hover {
	transform: scale(1.05);
}
.title {
	display: inline;
}
.title h1 {
	color: var(--white);
	font-size: 21px;
	display: inline-grid;
	letter-spacing: 3px;
}
.body_text {
	color: var(--white);
	line-height: 1.5;
	font-size: 15px;
	margin-top: 8px;
}
.bottom_text {
	margin-top: 8px;
}
.bottom_text a {
	color: var(--first);
	transition: color .3s ease-in-out;
}
#loading {
	display: block;
	margin: auto;
	width: 100%;
}
#loading figcaption {
	display: block;
	width: 100%;
	color: var(--white);
	font-size: 1.2rem;
	text-align: center;
	margin-top: 3rem;
}

/**
 * Cascade
 *
 * @author jh3y - jheytompkins.com
 *https://github.com/jh3y/whirl/blob/dist/css/cascade.css
 */
@-webkit-keyframes cascade {
0% {
		opacity: 0;
		transform: translateY(-250%);
}
30%,
	60% {
		opacity: 1;
		transform: translateY(0);
}
100% {
		opacity: 0;
		transform: translateY(250%);
}
}
@keyframes cascade {
0% {
		opacity: 0;
		transform: translateY(-250%);
}
30%,
	60% {
		opacity: 1;
		transform: translateY(0);
}
100% {
		opacity: 0;
		transform: translateY(250%);
}
}
.cascade {
	height: 30px;
	position: relative;
	display: grid;
	grid-template-columns: repeat(5, 20px);
	grid-gap: 14px;
}
.cascade div {
	width: 30px;
	background: var(--first);
}
.cascade div:nth-child(1) {
	-webkit-animation: cascade 1.5s 0.15s ease infinite backwards;
	animation: cascade 1.5s 0.15s ease infinite backwards;
}
.cascade div:nth-child(2) {
	-webkit-animation: cascade 1.5s 0.3s ease infinite backwards;
	animation: cascade 1.5s 0.3s ease infinite backwards;
}
.cascade div:nth-child(3) {
	-webkit-animation: cascade 1.5s 0.45s ease infinite backwards;
	animation: cascade 1.5s 0.45s ease infinite backwards;
}
.cascade div:nth-child(4) {
	-webkit-animation: cascade 1.5s 0.6s ease infinite backwards;
	animation: cascade 1.5s 0.6s ease infinite backwards;
}
.cascade div:nth-child(5) {
	-webkit-animation: cascade 1.5s 0.75s ease infinite backwards;
	animation: cascade 1.5s 0.75s ease infinite backwards;
}

/*******/
@media (min-width: 1024px) {
.bottom_text {
		font-size: 21px;
}
.bottom_text a {
		color: var(--white);
}
.bottom_text a:hover {
		color: var(--second);
}
.body_text {
		font-size: 21px
}
.title h1 {
		font-size: 32px;
}
.project {
		margin-right: 8.34%;
		position: relative;
		width: 83.34%;
		margin-bottom: 15vmin;
		margin-left: 8.34%;
}
}

