
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: #FC6471;
    --cyan: #55D6BE;
    --purple: #7D5BA6;
    --white: #FCFFFC;
    --black: #040F0F;
    --grey: #DDDDDD;
}
@media (min-width: 320px) {
  :root {
    min-height: 0vw;
    --sml-lg-27px-44px: calc(1.6875rem + ((1vw - 3.2px) * 1.5179));
    --sml-lg-8px-10px: calc(0.5rem + ((1vw - 3.2px) * 0.1786));
    --sml-lg-10px-16px: calc(0.625rem + ((1vw - 3.2px) * 0.5357));
    --sml-lg-30px-60px: calc(1.875rem + ((1vw - 3.2px) * 2.6786));
    --sml-lg-3px-6px: calc(0.1875rem + ((1vw - 3.2px) * 0.2679));
    --sml-lg-3px-10px: calc(0.1875rem + ((1vw - 3.2px) * 0.625));
    --sml-lg-23px-53px: calc(1.4375rem + ((1vw - 3.2px) * 2.6786));
    --sml-lg-55px-155px: calc(3.4375rem + ((1vw - 3.2px) * 8.9286));
    --sml-lg-21px-54px: calc(1.3125rem + ((1vw - 3.2px) * 2.9464));
    --sml-lg-14px-28px:  calc(0.875rem + ((1vw - 3.2px) * 1.25));
    --sml-lg-100px-300px: calc(6.25rem + ((1vw - 3.2px) * 17.8571));
    --sml-lg-200px-500px: calc(12.5rem + ((1vw - 3.2px) * 26.7857));
    --sml-lg-353px-635px:calc(22.0625rem + ((1vw - 3.2px) * 25.1786));
    --sml-med-54px-313px:calc(3.375rem + ((1vw - 3.2px) * 36.8421));
    --sml-med-226px-315px: calc(14.125rem + ((1vw - 3.2px) * 12.66));
    --sml-med-15px-225px:calc(0.9375rem + ((1vw - 3.2px) * 29.872));
    --sml-med-186px-262px:calc(11.625rem + ((1vw - 3.2px) * 10.8108));
    --sml-lg-300px-600px:calc(18.75rem + ((1vw - 3.2px) * 26.7857));
    --sml-lg-168px-350px: calc(10.5rem + ((1vw - 3.2px) * 16.25));
    --sml-lg-20px-60px:calc(1.25rem + ((1vw - 3.2px) * 3.5714));
  }
}

@media (min-width: 1024px){
    :root{
        --sml-med-54px-313px: 313px;
        --sml-med-226px-315px: 315px;
        --sml-med-15px-225px: 225px;
        --sml-med-186px-262px: 262px;
        --med-lg-45px-100px: calc(2.8125rem + ((1vw - 10.23px) * 13.1894));
        --med-lg-295px-338px: calc(18.4375rem + ((1vw - 10.23px) * 10.3118));
        --med-lg-8px-25px: calc(0.5rem + ((1vw - 10.23px) * 4.0767));
        --med-lg-295px-335px: calc(18.4375rem + ((1vw - 10.23px) * 9.5923));
        --med-lg-255px-355px: calc(15.9375rem + ((1vw - 10.23px) * 23.9808));
        --med-lg-30px-70px:calc(1.875rem + ((1vw - 10.23px) * 9.5923));
        --med-lg-135px-170px:calc(8.4375rem + ((1vw - 10.23px) * 8.3933));
        --med-lg-285px-360px:calc(17.8125rem + ((1vw - 10.23px) * 17.9856));
        --med-lg-20px-45px:calc(1.25rem + ((1vw - 10.23px) * 5.9952));
        --med-lg-475px-625px:calc(29.6875rem + ((1vw - 10.23px) * 35.9712));
        --med-lg-340px-440px: calc(21.25rem + ((1vw - 10.23px) * 23.9808));
        --med-lg-25px-45px:calc(2.8125rem + ((1vw - 10.23px) * 7.1942));
        --med-lg-45px-75px: calc(2.8125rem + ((1vw - 10.23px) * 7.1942));
        --med-lg-105px-155px:calc(6.5625rem + ((1vw - 10.23px) * 11.9904));
    }
}
@media (min-width: 1440px) {
  :root {
    --sml-lg-27px-44px: 44px;
    --sml-lg-8px-10px: 10px;
    --sml-lg-10px-16px: 16px;
    --sml-lg-30px-60px: 60px;
    --sml-lg-3px-6px: 6px;
    --sml-lg-23px-53px: 53px;
    --sml-lg-55px-155px:155px;
    --sml-lg-21px-54px:54px;
    --sml-lg-14px-28px:30px;
    --sml-lg-100px-300px:300px;
    --sml-lg-200px-500px:500px;
    --sml-lg-353px-635px:635px;
    --med-lg-45px-100px:100px;
    --med-lg-295px-338px:338px;
    --med-lg-8px-25px:25px;
    --med-lg-295px-335px:335px;
    --med-lg-255px-355px:355px;
    --med-lg-30px-70px:70px;
    --med-lg-135px-170px:170px;
    --med-lg-285px-360px:360px;
    --med-lg-20px-45px:45px;
    --med-lg-475px-625px:625px;
    --med-lg-340px-440px:440px;
    --med-lg-25px-45px:45px;
    --med-lg-45px-75px:75px;
    --med-lg-105px-155px:155px;
    --sml-lg-3px-10px: 10px;
    --sml-lg-300px-600px:600px;
    --sml-lg-168px-350px:350px;
    --sml-lg-20px-60px:60px;
  }
}
@font-face {
    font-family: "PlayfairDisplay-BoldItalic";
    font-display: block;
    src: url("../assets/fonts/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "PlayfairDisplay-SemiBoldItalic";
    font-display: block;
    src: url("../assets/fonts/Playfair_Display/static/PlayfairDisplay-SemiBoldItalic.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "Lato-Regular";
    font-display: block;
    src: url("../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Lato-Bold";
    font-display: block;
    src: url("../assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-style: normal;
}
::selection{
    background: var(--cyan);
    color: var(--pink);
}
body{
    background-color: var(--grey);
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
section{
    margin-top: var(--sml-lg-200px-500px);
    position: relative;
}
#intro{
    margin-top: 0%;
}
#resume{
    display: none;
}
#menu-btn{
    display: none;
}
.resume-btn-msg{
    display: none;
}
.menu-btn{
    position: fixed;
    right: 5%;
    top: 5%;
    width: var(--sml-lg-30px-60px);
    height: var(--sml-lg-30px-60px);
    z-index: 10;
}
#resume, 
#menu-btn, 
.resume-btn-msg, 
.menu-btn{
    cursor: pointer;
}
.menu-btn span{
    position: absolute;
    display: inline-block;
    top: 50%;
    background-color: var(--black);
    width: var(--sml-lg-30px-60px);
    height: var(--sml-lg-3px-6px);
}
.menu-btn span::before,
.menu-btn span::after{
    content: '';
    position: absolute;
    background-color: var(--black);
    width: var(--sml-lg-30px-60px);
    height: var(--sml-lg-3px-6px);
    border-radius: 10px;
    transform-origin: center center;
    transition: transform .2s ease;
}
.menu-btn span::before{
    top: calc(50% - var(--sml-lg-10px-16px));
}
.menu-btn span::after{
    top: calc(50% + var(--sml-lg-8px-10px));
}

#menu-btn:checked~.menu-btn{
    transform: rotate(-90deg);
    transition: transform .2s ease;
}
#menu-btn:checked~.menu-btn span{
    background-color: transparent;
}
#menu-btn:checked~.menu-btn span::before{
    transform: rotate(45deg) ;
    transition: transform .2s ease;
}
#menu-btn:checked~.menu-btn span::after{
    transform: rotate(-45deg);
    transition: transform .2s ease;
}

#menu-btn:checked~.menu-btn span::before,
#menu-btn:checked~.menu-btn span::after{
    width: var(--sml-lg-27px-44px);
    background-color: var(--white);
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--pink);
    z-index: 9;
    font-family: "PlayfairDisplay-SemiBoldItalic";
    font-size: var(--sml-lg-23px-53px);
    font-weight: 700;
    text-transform: capitalize;
    color: var(--white);
    transform: translateY(-100%);
}
.menu-transition{
    transform-origin: center top;
    transition: transform .2s ease-in-out;
}
#menu-btn:checked~.menu{
    transform: translateY(0px);
}
.link-msg{
    display: none;
}
#intro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.cubes{
    position: relative;
    width: 100%;
    height: var(--sml-lg-353px-635px);
}

.cube-1-container{
    width: var(--sml-lg-200px-500px);
    height: var(--sml-lg-200px-500px);
    position: absolute;
    border-radius: 10%;
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    transform: rotate(0deg);
}
.cube-1 {
    height: 90%;
    width: 90%;
}
.cube-2, .cube-3{
    width: var(--sml-lg-100px-300px);
    height: var(--sml-lg-100px-300px);
    position: absolute;
    border-radius: 10%;
    z-index: 1;
}
.cube-1-container, .cube-2, .cube-3{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cube-2{
    background-color: var(--purple);
}
.cube-3{
    background-color: var(--cyan);
}

.cube-1-container{
    top: 100px;
    left:var(--sml-med-54px-313px);
}
.cube-2{
    top:var(--sml-med-226px-315px);
    left:var(--sml-med-15px-225px);
}
.cube-3{
    bottom: var(--sml-med-186px-262px);
    right: var(--sml-med-15px-225px);
}

.intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.name, .role{
    text-transform: uppercase;
}
.name{
    font-size: var(--sml-lg-55px-155px);
    font-family: "PlayfairDisplay-BoldItalic";
    color: var(--purple);
}
.role{
    font-size: var(--sml-lg-21px-54px);
    font-family: "PlayfairDisplay-SemiBoldItalic";
    margin-bottom: 12px;
    margin-top: -5px;
}
.short-description{
    font-size: var(--sml-lg-14px-28px);
    text-transform: capitalize;
    font-family: "Lato-Regular";
}

#skills,
#projects{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.section-header {
    text-transform: uppercase;
    font-size: var(--sml-lg-23px-53px);
    font-family: "Lato-Bold";
    letter-spacing: var(--sml-lg-3px-10px);
}
.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0px;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.skills.frontend{
    --bg-color: var(--pink);
    --color: var(--white);
}
.skills.backend{
    --bg-color: var(--cyan);
    --color: var(--black);
}
.skills.other{
    --bg-color: var(--purple);
    --color:var(--white);
}
.skills li{
    font-size: var(--sml-lg-14px-28px);
    --padding-top-bottom:calc(var(--sml-lg-14px-28px) - 9px);
    --padding-left-right:calc(var(--sml-lg-14px-28px) - 4px);
    --margin: var(--padding-top-bottom);
    text-transform: capitalize;
    font-family: "Lato-Regular";
    border: solid 2px var(--bg-color);
    background-color: var(--bg-color);
    color:var(--color);
    padding: var(--padding-top-bottom) var(--padding-left-right);
    margin: var(--margin);
    border-radius: 10px;
    cursor: pointer;
}
.projects-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
}
.project-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: var(--sml-lg-300px-600px);
    height: auto;
    margin: var(--sml-lg-20px-60px) 0px;
}

.project-img-wrapper {
    width: 100%;
    height: var(--sml-lg-168px-350px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.project-img-wrapper img {
    width: 100%;
    height: 100%;
}
.title{
    font-size: var(--sml-lg-14px-28px);
    font-family: "Lato-Bold";
    margin: var(--sml-lg-3px-10px) 0px;
    align-self: center;
}
.project-description{
    font-size: calc(var(--sml-lg-14px-28px) / 1.5);
    font-family: "Lato-Regular";
    font-weight: lighter;
    margin: var(--sml-lg-3px-10px) 0px;
}
.project-links{
    margin: var(--sml-lg-14px-28px) var(--sml-lg-3px-10px);
    display: flex;
    justify-content: space-evenly;
}
.project-links a{
    font-size: calc(var(--sml-lg-14px-28px) / 1.5);
    font-family: "Lato-Bold";
    color: var(--purple);
    text-transform: uppercase;
}
#contact{
    display: flex;
    flex-direction: column;
    margin-bottom: var(--sml-lg-21px-54px);
}
#contact .section-header{
    align-self: center;
}
.links{
    display: flex;
    justify-content: space-evenly;
}
.links li{
    font-size: var(--sml-lg-14px-28px);
    font-family: "Lato-Regular";
    font-weight: lighter;
    text-transform: capitalize;
    margin-top: var(--sml-lg-14px-28px);
    color: var(--purple);
}
footer{
    font-size: calc(var(--sml-lg-10px-16px) + 3px);
    background-color: var(--pink);
    color: var(--white);
    text-align: center;
    font-family: "PlayfairDisplay-SemiBoldItalic";
}
@media (max-width: 1023px){
    #menu-btn:checked~.menu-btn span::before,
    #menu-btn:checked~.menu-btn span::after{
        width: var(--sml-lg-30px-60px);
        top:0;
    }
}
@media (min-width: 1024px){
    #intro {
        display: flex;
        flex-direction: row;
    }
    #menu-btn:hover~.menu-btn span::before,
    #menu-btn:hover~.menu-btn span::after{
        width: var(--sml-lg-27px-44px);
    }
    #menu-btn:hover~.menu-btn{
        transform: rotate(90deg);
        transition: transform .2s ease;
    }
    #menu-btn:hover~.menu-btn span{
        background-color: transparent;
    }
    #menu-btn:hover~.menu-btn span::before{
        transform: rotate(45deg);
        transition: transform .2s ease;
    }
    #menu-btn:hover~.menu-btn span::after{
        transform: rotate(-45deg);
        transition: transform .2s ease;
    }
    #menu-btn:checked:hover~.menu-btn span::before,
    #menu-btn:checked:hover~.menu-btn span::after{
        width: var(--sml-lg-30px-60px);
        top: unset;
    }
    .cube-1-container {
      top: 72px;
      left: var(--med-lg-45px-100px);
    }
    .cube-2 {
        top: var(--med-lg-295px-338px);
        left: var(--med-lg-8px-25px);
    }
    .cube-3 {
        bottom: var(--med-lg-295px-335px);
        right: unset;
        left: var(--med-lg-255px-355px);
    }
    .intro-text{
        width: 100%;
        height: var(--sml-lg-353px-635px);
    }
    .name, .role, .short-description{
        position: absolute;
    } 
    .name{    
        top: var(--med-lg-135px-170px);
        right: var(--med-lg-30px-70px);
    }
    .role{
        right: var(--med-lg-30px-70px);
        top: var(--med-lg-285px-360px);
    }
    .short-description{
        right: var(--med-lg-20px-45px);
        width: var(--med-lg-475px-625px);
        top: var(--med-lg-340px-440px);
        text-align: left;
    }
    .menu{
        align-items: unset;
    }
    .menu li{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .link-msg{
        --pos:55%;
        display: inline-block;
        position: absolute;
        right: var(--pos);
        background-color: var(--purple);
        color: var(--white);
        font-size: calc(var(--sml-lg-23px-53px) / 2.5);
        font-family: "Lato-Regular";
        font-weight: lighter;
        padding: 18px 10px;
        border-radius: 10px;
        --border-width:20px;
        transform: scale(0);
        transform-origin: center right;
        text-transform: capitalize;
        transition: all .2s ease-out;
    }
    .link-msg::after {
        content: "";
        position: absolute;
        top: 50%;
        left:99%;
        transform: translateY(-50%);
        border-width: calc(var(--border-width) - 2px) 0 calc(var(--border-width) - 2px) calc(var(--border-width) - 2px);
        border-style: solid;
        border-color: transparent transparent transparent var(--purple);
    }
    .menu a:hover+.link-msg{
        transform: scale(1);
    }
    .menu a:hover+.skills-link{
        right: calc(var(--pos) + var(--med-lg-25px-45px));    
    }
    .menu a:hover+.projects-link{        
        right: calc(var(--pos) + var(--med-lg-45px-75px));
    }
    .menu a:hover+.contact-link{
        right: calc(var(--pos) + var(--med-lg-45px-75px));
    }
    .menu a:hover+.resume-link{
        right: calc(var(--pos) + var(--med-lg-105px-155px));
    }
    .skills li{
        opacity: 0;
    }
    .skills.frontend li, .skills.other li{
        transform: translateX(-100%);
    }
    .skills.backend li{
        transform: translateX(100%);
    }
    .skills li:hover{
        background-color: transparent;
        color: var(--black);
        transition: background-color .2s ease-out, color .2s ease-out;
    }
    .project-wrapper a{
        position: relative;
    }
    .links li a{
        position: relative;
    }
    .project-wrapper a::before, 
    .project-wrapper a::after,
    .links li a::before,
    .links li a::after{
        content: '';
        position: absolute;
        background-color: var(--purple);
        width: 0%;
        height: 3px;
    }
    .project-wrapper a::before,
    .links li a::before{
        top: -5px;
        right: 0;
    }
    .project-wrapper a::after,
    .links li a::after{
        bottom: -5px;
        left: 0;
    }
    .project-wrapper a:hover::before, 
    .project-wrapper a:hover::after,
    .links li a:hover::before,
    .links li a:hover::after{
        width: 100%;
        transition: width .3s ease;
    }
    .name, .role{
        transform: translateX(calc(100% + 200px));
    }
    .short-description{
        opacity: 0;
        transform: translateY(100%);
    }
    .cube-1-container,
    .cube-2,
    .cube-3{      
        opacity: 0;
    }
    .cube-1-container{
     transform: translate(-100%,-100%) rotate(90deg) scale(0.4);
    }
    .cube-3{
     transform: translateY(-100%) scale(0.4);
    }
    .cube-2{
     transform: translateX(-100%) scale(0.4);
    }
    .project-wrapper {
        opacity: 0;
    }
}