
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pink: #FC6471;
    --cyan: #55D6BE;
    --purple: #7D5BA6;
    --white: #FCFFFC;
    --black: #040F0F;
    --grey: #DDDDDD;
}
@media (min-width: 320px) {
  :root {
    min-height: 0vw;
    --sml-med-27px-44px: calc(1.6875rem + ((1vw - 3.2px) * 2.4182));
    --sml-med--8px-10px: calc(0.5rem + ((1vw - 3.2px) * 0.2845));
    --sml-med-10px-16px: calc(0.625rem + ((1vw - 3.2px) * 0.8535));
    --sml-med-30px-60px: calc(1.875rem + ((1vw - 3.2px) * 4.2674));
    --sml-med-3px-6px:calc(0.1875rem + ((1vw - 3.2px) * 0.4267));
    --sml-med-23px-53px:calc(1.4375rem + ((1vw - 3.2px) * 4.2674));
  }
}
@media (min-width: 1023px) {
  :root {
    --sml-med-27px-44px: 44px;
    --sml-med--8px-10px: 10px;
    --sml-med-10px-16px: 16px;
    --sml-med-30px-60px: 60px;
    --sml-med-3px-6px: 6px;
    --sml-med-23px-53px: 53px;
  }
}
@font-face {
    font-family: "PlayfairDisplay-BoldItalic";
    font-display: block;
    src: url("../assets/fonts/Playfair_Display/static/PlayfairDisplay-BoldItalic.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "PlayfairDisplay-SemiBoldItalic";
    font-display: block;
    src: url("../assets/fonts/Playfair_Display/static/PlayfairDisplay-SemiBoldItalic.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "Lato-Regular";
    font-display: block;
    src: url("../assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
    font-style: normal;
}

@font-face {
    font-family: "Lato-Bold";
    font-display: block;
    src: url("../assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
    font-style: normal;
}
::selection{
    background: var(--cyan);
    color: var(--pink);
}
body{
    background-color: var(--grey);
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
section{
    margin-top: 20%;
    position: relative;
}
#intro{
    margin-top: 0%;
}
#resume{
    display: none;
}
#menu-btn{
    display: none;
}
.resume-btn-msg{
    display: none;
}
.menu-btn{
    position: fixed;
    right: 5%;
    top: 5%;
    width: var(--sml-med-30px-60px);
    height: var(--sml-med-30px-60px);
    z-index: 10;
}
#resume, #menu-btn, .resume-btn-msg, .menu-btn{
    cursor: pointer;
}
.menu-btn span{
    position: absolute;
    display: inline-block;
    top: 50%;
    background-color: var(--black);
    width: var(--sml-med-30px-60px);
    height: var(--sml-med-3px-6px);
}
.menu-btn span::before,
.menu-btn span::after{
    content: '';
    position: absolute;
    background-color: var(--black);
    width: var(--sml-med-30px-60px);
    height: var(--sml-med-3px-6px);
    border-radius: 10px;
    transition: all .2s ease;
    transform-origin: center center;
}
.menu-btn span::before{
    top: calc(50% - var(--sml-med-10px-16px));
}
.menu-btn span::after{
    top: calc(50% + var(--sml-med--8px-10px));
}
#menu-btn:hover~.menu-btn{
    transform: rotate(90deg);
}
#menu-btn:checked~.menu-btn{
    transform: rotate(-90deg);
}
#menu-btn:checked~.menu-btn span,
#menu-btn:hover~.menu-btn span{
    background-color: transparent;
}
#menu-btn:checked~.menu-btn span::before,
#menu-btn:hover~.menu-btn span::before{
    transform: rotate(45deg) ;
}
#menu-btn:checked~.menu-btn span::after,
#menu-btn:hover~.menu-btn span::after{
    transform: rotate(-45deg);
}
#menu-btn:checked~.menu-btn span::before,
#menu-btn:checked~.menu-btn span::after,
#menu-btn:hover~.menu-btn span::before,
#menu-btn:hover~.menu-btn span::after{
    width: var(--sml-med-27px-44px);
}

#menu-btn:checked~.menu-btn span::before,
#menu-btn:checked~.menu-btn span::after{
    background-color: var(--white);
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--pink);
    z-index: 9;
    font-family: "PlayfairDisplay-SemiBoldItalic";
    font-size: var(--sml-med-23px-53px);
    font-weight: 700;
    text-transform: capitalize;
    color: var(--white);
    transform: translateY(-100%);
    transform-origin: center top;
    transition: all .2s ease-in-out;
}
#menu-btn:checked~.menu{
    transform: translateY(0px);
}
#intro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.cubes{
    position: relative;
    width: 100%;
    height: 345px;
}
.cube-1-container{
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 10%;
    top: 100px; 
    left: 54px;
    background-color: var(--pink);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 3.5s linear;
}

.cube-1-container:hover{
    animation: cube-rotate 3.5s linear infinite ;
}
@keyframes cube-rotate {
    to{
        transform: rotate(360deg);
    }
}
.cube-1 {
    height: 90%;
    width: 90%;
}

.cube-2, .cube-3{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 10%;
    z-index: 1;
}
.cube-1-container, .cube-2, .cube-3{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cube-2{
    background-color: var(--purple);
    top: 226px;
    left: 15px;
}
.cube-3{
    background-color: var(--cyan);
    top: 74px;
    right: 15px;  
}
.intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}
.name, .role{
    text-transform: uppercase;
}
.name{
    font-size: 55px;
    font-family: "PlayfairDisplay-BoldItalic";
    color: var(--purple);
}
.role{
    font-size: 21px;
    font-family: "PlayfairDisplay-SemiBoldItalic";
    margin-bottom: 12px;
    margin-top: -5px;
}
.short-description{
    font-size: 14px;
    text-transform: capitalize;
    font-family: "Lato-Regular";
}