@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700;800&display=swap');
/*
[width x height]
img wrapper: 407 x 194 - 241 x 114
@media (min-width: 320px) {
  :root {
    min-height: 0vw;
    --img-wrapper-w: calc(8.8125rem + ((1vw - 3.2px) * 23.75));
     --img-wrapper-h: calc(7.125rem + ((1vw - 3.2px) * 7.1429));
  }
}
@media (min-width: 1440px) {
  :root {
        --img-wrapper-w: 407px;
        --img-wrapper-h: 194px;
    }
}
*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cube-1: #FC6471;
    --cube-2: #55D6BE;
    --cube-3: #7D5BA6;
    --white: #FCFFFC;
    --black: #040F0F;
    --milky-white: #DDDDDD;
}

html {
    font-size: 1rem;
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    line-height: 1.3;
    background-color: var(--milky-white);
    color: var(--black);
}

section {
    min-height: 50vh;
    padding: 2rem;
}

footer {
    text-align: center;
    font-size: 0.8rem;
    padding: 0.5rem;
}

#menu-btn {
    display: none
}
a { 
text-transform: uppercase;
}
.menu-btn,
.resume-btn {
    outline: none;
    cursor: pointer;
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    border-radius: 1.5rem;
    background-color: var(--black);
    color: var(--milky-white);
    font-weight: 700;
    font-size: 1rem;
    position: fixed;
    right: 2rem;
    top: 2rem;
    border: 2px solid var(--black);
    z-index: 10;
    font-family: 'Work Sans', sans-serif;
    transition: color .3s ease, background-color .3s ease;
}

.resume-btn i {
    margin-right: 5px;
}

.resume-btn,
.resume-btn-msg {
    display: none;
}

.menu-btn,
.resume-btn,
.resume-btn-msg {
    text-transform: capitalize;
}

#menu-btn:checked~.menu-btn {
    background-color: var(--milky-white);
    color: var(--black)
}

.menu {
    display: none;
    width: fit-content;
    position: fixed;
    top: 4.5rem;
    right: -15rem;
    text-transform: capitalize;
    z-index: 11;
    flex-direction: column;
    opacity: 0;
    transition: right .3s ease-in-out, opacity .3s ease-in-out;
}

#menu-btn:checked~.menu {
    display: flex;
    right: 2rem;
    opacity: 1;
    align-items: flex-end;
    padding: 2rem .5rem 2rem 2rem;
    gap: 1rem;
    border-radius: 1.5rem;
    background-color: var(--cube-3);
    color: var(--milky-white);
}
.menu a {
    color: var(--milky-white);
    padding: 0.5rem;
}

.menu a::after {
    content: '';
    width: 0;
    height: 1rem;
    background-color: var(--cube-2);
    display: inline-block;
    border-radius: 0.25rem;
    position: relative;
    top: 0.1rem;
    transition: width .2s, margin-left .2s;
}

.menu a.active::after {
    width: 1rem;
    margin-left: 0.25rem
}


.cube-1 {
    max-width: 100%;
    height: auto;
    display: block;
    width: 250px;
    height: 250px;
    margin: 7rem auto 1.5rem;
    position: relative;
    border-radius: 1.5rem;
    background-color: var(--cube-1);
}

.cube-2,
.cube-3 {
    width: 125px;
    height: 125px;
    position: absolute;
    border-radius: 1.5rem;
    z-index: -1;
}
.cube-1,
.cube-2,
.cube-3 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.cube-2 {
    top: 8rem;
    left: calc(50% + 1rem);
    background-color: var(--cube-3);
}

.cube-3 {
    top: calc(10rem + 125px);
    left: calc(50% - 125px - 1rem);
    background-color: var(--cube-2);
}

h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 800;
    color: var(--cube-3);
    margin-bottom: 0;
}

h2 {
    font-size: 1.75rem;
    text-transform: uppercase;
    text-align: center;
}

h1,
h2,
.quote {
    text-align: center;
}

h3 {
    font-size: 2rem;
    margin: 0 0 1.5rem;
}

section div h3 {
    text-transform: capitalize;
    font-weight: 800;
}

p {
    color: #333;
}

p+p,
p+ul {
    margin-top: 1rem
}

a {
    color: var(--cube-3);
    text-decoration: none;
}

h1>a {
    color: inherit
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.skills li {
    border: 2px solid var(--cube-2);
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 1.5rem;
    margin-top: 0.5rem;
    text-transform: capitalize;

}

.projects-wrapper {
    display: block
}

.projects-wrapper .project-container {
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
}
.project-img-wrapper{
    width: var(--img-wrapper-w);
    height: var(--img-wrapper-h);
}
.projects-wrapper img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1.2rem;
}

.projects-wrapper .title {
    color: #000;
    font-size: 18px;
    font-weight: 600;
}

.projects-wrapper .project-description {
    margin: .2rem 0 1rem 0;
}

.projects-wrapper div a {
    margin-right: 1rem;
    border-bottom: solid 2px;
}

.links {
    display: felx;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1.5rem
}

.links li a {
    font-weight: 700;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.experience-wrapper {
    display: flex;
    flex-direction: column;
}

.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 2px;
    background-color: var(--black);
    display: flex;
    align-items: flex-start;
    height: 100%;
}

span.circle {
    width: 1.3rem;
    height: 1.3rem;
    background: var(--milky-white);
    border: solid 4px var(--black);
    border-radius: 15rem;
}

.job-container {
    display: flex;
    gap: 1rem;
}

.job {
    padding: 1rem 0;
    text-transform: capitalize;
    min-height: 40vh;
    padding: 0 0 2rem 0;
}

.job h4 {
    font-size: 1.8rem;
}

.job h5 {
    font-size: 1.1rem;
    text-transform: uppercase;
}

.job .date {
    font-size: 0.9rem;
    font-family: monospace;
    margin: 0;
}

.company-description {
    font-size: .9rem;
    padding: 0 0 1rem 0;
    width: calc(100% - 50px);
}

.company-website {
    border-bottom: solid 2px;
    text-transform: lowercase;
}

.job-description {
    width: calc(100% - 50px);
    font-size: 0.8rem;
    list-style: inside;
    gap: 1rem;
}
.job-description li::marker{
    color: var(--cube-1);
}
@media (min-width: 1024px) {
    section {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 18rem;
    }

    .menu-btn {
        display: none;
    }

    .resume-btn {
        display: block;
        font-size: 1.4rem;
    }

    .resume-btn:hover {
        background-color: var(--milky-white);
        color: var(--black)
    }

    .resume-btn-msg {
        display: inline-block;
        position: fixed;
        right: 3%;
        top: 5%;
        background-color: var(--black);
        border: solid 1px var(--black);
        color: var(--milky-white);
        font-weight: 700;
        font-size: 1.3rem;
        line-height: 1.7rem;
        border-radius: 1.5rem;
        padding: 0.6rem 1.2rem;
        padding-right: 4rem;
        clip-path: inset(0 0 0 100%);
        transition: clip-path 0.2s ease, right 0.3s ease-in-out;
    }


    .resume-btn:hover+.resume-btn-msg {
        right: 10%;
        clip-path: inset(0 0 0 0);
    }

    .cube-1 {
        width: 400px;
        height: 400px;
        position: fixed;
        z-index: 10;
        margin: 0;
        left: calc(50% - 400px - 4rem);
        top: calc(50% - 200px);
    }

    .cube-3,
    .cube-2 {
        width: 200px;
        height: 200px;
        position: fixed;
    }

    .cube-2 {
        left: calc(50% - 200px - 2rem);
        top: calc(50% - 200px);
    }

    .cube-3 {
        left: calc(50% - 400px - 6rem);
        top: calc(50% + 2rem);
    }

    h1 {
        position: fixed;
        left: calc(50% + 2rem);
        font-size: 6rem;
        top: calc(50vh - 8rem)
    }

    h2 {
        font-size: 3rem;
        position: fixed;
        left: calc(50% + 2rem);
        top: calc(50vh - 1rem);
        width: 550px;
        text-align: left;
    }

    .quote {
        position: fixed;
        left: calc(50% + 2rem);
        top: calc(50vh + 3rem);
        text-align: left;
        font-size: 1.5rem;
    }

    h3 {
        font-size: 3rem;
    }

    .projects-wrapper {
        display: flex;
        flex-direction: column;
    }

    .projects-wrapper .project-container {
        width: 50%;
    }

    .projects-wrapper .title {
        font-size: 21px;
    }

    .skills {
        width: 80%;
    }

    .skills li {
        font-size: 1.3rem;
        cursor: pointer;
        transition: all 0.4s ease-out;
    }

    .skills li:hover {
        border-color: var(--black);
        background-color: var(--cube-2);
    }

    .menu {
        position: fixed;
        top: 50%;
        left: 2%;
        text-transform: capitalize;
        color: var(--white);
        z-index: 11;
        flex-direction: column;
        opacity: 0;
    }

    .menu a {
        color: var(--white);
        padding: 0.5rem;
    }

    .menu a::after {
        display: none;
    }

    .menu a::before {
        content: '';
        width: 0;
        height: 1rem;
        background-color: var(--cube-2);
        display: inline-block;
        border-radius: 0.25rem;
        position: relative;
        top: 0.1rem;
        transition: width .2s, margin-right .2s;
    }

    .menu a.active::before {
        width: 1rem;
        margin-right: 0.25rem
    }

    #li-resume {
        display: none;
    }

    .job {
        min-height: 40vh;
    }

    .company-description {
        width: calc(100% - 200px);
    }

    .job-description {
        width: calc(100% - 200px);
    }

}

@media (min-width: 1400px) {

    section:first-child {
        margin: 0 auto;
        width: 900px;
    }

    .resume-btn {
        font-size: 1.6rem;
    }

}
@media (min-width: 320px) {
  :root {
    min-height: 0vw;
    --img-wrapper-w: calc(15.0625rem + ((1vw - 3.2px) * 14.9107));
     --img-wrapper-h: calc(7.125rem + ((1vw - 3.2px) * 7.1429));
  }
}
@media (min-width: 1440px) {
  :root {
        --img-wrapper-w: 407px;
        --img-wrapper-h: 194px;
    }
}